#grad {
background: url(http://i65.tinypic.com/4v35zk.jpg);
background-size: cover;
background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Navbar*/
nav .header {
    position: absolute;
    color: #fff;
    font-size: 2.1rem;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

nav {
  background-color: rgba(0,0,0, 0)!important;
  border: none;
 box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0);
 
}


.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: rgba(147,147,147, .6);
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

.nav-wrapper {
padding-top: 5px;
}

/*Navbar end*/

.mainContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.channelViewerLeft {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#channels {

  width: 40vmax;
}

@media (max-width: 450px) {
  #channels{
    width: 100%;
  }
}

.hidden {
  display: none;
}

#channel {
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 5px;
  display: flex;
  justify-content: right;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 10px;
}

.collapsible-body {
  background-color: white;
  font-family: 'Roboto'
}

.collapsible-body {
  text-align: center;
}

.btn {
  text-align: center;
}

.preview {
  width: 50%;
}

.hidden {
  display: none;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.streamType {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.streaming {
  width: 100%;
}


.badge:hover {
  text-shadow: 1px 2px #4c4c4c;
  text-decoration: underline;
}


.logoImage {
  height: 100%;
  
}

.twitch {
  background: -webkit-linear-gradient(left, #E7E7E7, #4A4A4A);
  background: -o-linear-gradient(left, #E7E7E7, #4A4A4A);
  background: linear-gradient(to right, #fff, #643FA5);
}

.food{
  background: -webkit-linear-gradient(left, #fff, #C486E4);
  background: -o-linear-gradient(left, #fff, #C486E4);
  background: linear-gradient(to right, #fff, #C486E4);
}

.music4Studying{
  background: -webkit-linear-gradient(bottom left, #fff, #383838);
  background: -o-linear-gradient(left, #fff, #383838);
  background: linear-gradient(to right, #fff, #383838);
}

.fcc{
  background: -webkit-linear-gradient(left, #fff, #006400);
  background: -o-linear-gradient(left, #fff, #006400);
  background: linear-gradient(to right, #fff, #006400);
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
}

h1 {



}